<div>
  <h1>This is the Runner!</h1>
  <div id="runner-area"></div>
  <kohi-spec-list-item data-domo="bind: id"></kohi-spec-list-item>
</div>
<!--
<div class="uk-width-1-2@s uk-width-2-5@m">
  <ul class="uk-nav uk-nav-default">
    <li class="uk-active"><a href="#">Active</a></li>
    <li><a href="#">Item</a></li>
    <li><a href="#">Item</a></li>
  </ul>
</div>
-->

<!--
<template id="runner-template">
  <h4 data-domo="bind: name"></h4>
  <ul class="uk-nav uk-nav-default">
    <li class="uk-active"><a href="#">Active</a></li>
    <li><a href="#">Item</a></li>
    <li><a href="#">Item</a></li>
  </ul>
</template>
-->
